body {
    font-family: Arial, sans-serif;
}

#map {
    height: 500px;
    width: 100%;
    background-color: lightgray;
}

#location-form,
#image-upload {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
